[submodule "example42"]
	path = example42
	url = ../puppet-modules-nextgen.git
[submodule "override/ntp"]
	path = override/ntp
	url = ../puppet-ntp.git
[submodule "override/vcsrepo"]
	path = override/vcsrepo
	url = ../puppetlabs-vcsrepo.git
[submodule "override/postgresql"]
	path = override/postgresql
	url = ../puppet-postgresql.git
[submodule "vagrant/wheezy"]
	path = vagrant/wheezy
	url = ../minimal-debian-vagrant.git
