[submodule "modules/ntp"]
	path = modules/ntp
	url = ../puppet-ntp.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = ../puppet-vcsrepo.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = ../puppet-postgresql.git
[submodule "vagrant/veewee"]
	path = vagrant/veewee
	url = ../veewee.git
[submodule "modules/apt"]
	path = modules/apt
	url = ../puppet-apt.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = ../puppi.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = ../puppet-firewall.git
[submodule "modules/iptables"]
	path = modules/iptables
	url = ../puppet-iptables.git
[submodule "modules/concat"]
	path = modules/concat
	url = ../puppet-concat.git
[submodule "modules/monitor"]
	path = modules/monitor
	url = ../puppet-monitor.git
[submodule "modules/icinga"]
	path = modules/icinga
	url = ../puppet-icinga.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = ../puppet-mysql.git
[submodule "modules/nrpe"]
	path = modules/nrpe
	url = ../puppet-nrpe.git
[submodule "modules/foreman"]
	path = modules/foreman
	url = ../puppet-foreman.git
[submodule "modules/apache"]
	path = modules/apache
	url = ../puppet-apache.git
[submodule "modules/openssh"]
	path = modules/openssh
	url = ../puppet-openssh.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = ../puppet-puppet.git
[submodule "modules/puppetdb"]
	path = modules/puppetdb
	url = ../puppet-puppetdb.git
[submodule "modules/rsyslog"]
	path = modules/rsyslog
	url = ../puppet-rsyslog.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = ../puppet-sudo.git
[submodule "modules/chocolatey"]
	path = modules/chocolatey
	url = ../puppet-chocolatey.git
[submodule "modules/registry"]
	path = modules/registry
	url = ../puppetlabs-registry.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = ../puppetlabs-stdlib.git
[submodule "modules/tftp"]
	path = modules/tftp
	url = ../puppet-tftp.git
[submodule "modules/xinetd"]
	path = modules/xinetd
	url = ../puppet-xinetd.git
