[Unit]
Description=Display images on a framebuffer console

[Service]
ExecStart=/root/bin/showslide
Type=simple
StandardOutput=null
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
